
<div class="content">
  <%= render :partial => "layouts/top_search" %>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="main02 mb143">
       <div class="preferential-leftnav">
         <a href="/mobile/shops/<%= @shop.id %>" class="preferential-leftnav05"></a>
         <a href="/mobile/shop_images?shop_id=<%= @shop.id%>" class="preferential-leftnav06"></a>
         <a href="/mobile/promos?shop_id=<%= @shop.id%>" class="preferential-leftnav07 pre-current06"></a>
       </div>
       <div class="pay-right">
          <div href="#" class="preferential-xiangqing ">优惠信息</div>
          <div class="preferential-xiangqingmain02">
         <div class="youhuiquanmain02">
           <div class="left"></div>
           <div class="center"><img src="<%= @promos.first.mobile_image.url %>" width="766" height="286" /><p><span>温馨提示:</span>无特殊说明，此项优惠不与店内其它优惠活动同时使用,本券仅限武汉使用请在2013年10月31日前使用。</p></div>
           <div class="right">
             <h2>本优惠劵信息</h2>
             <p>本劵累计下载：<strong>29123</strong></p>
             <p>本周下载：<strong>2597</strong></p>
             <p>本劵到期时间：2013年10月31日</p>
             <p>2013-08-09添加</p>
             <p>含手机访问和下载优惠券的数</p>
             <a href="#"><img src="/assets/mobile/preferential06.png" width="304" height="51" /></a>
           </div>
         </div>
        </div>
       </div>
    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>


<div class="tips02">
  <h2>发送优惠券到手机</h2>
  <a href="#" class="tips02-close"><img src="/assets/mobile/close-ico.png" width="26" height="26" /></a>
  <div class="tips02-center cgray">
    <h3>
      <a href="#" class="tips02-center-a tips02-current">短信优惠券</a>
      <a href="#" class="tips02-center-a">二维码扫描</a>
    </h3>
    <p class="pl20 mt10">你将收到如下短信：</p>
    <p class="mb40 cgreen pl20">武汉优惠券#12745：凭此短信【金色雾都】每满百立减30元（酒水、饮料除外），9-1至9-28有效</p>
    <div class="shoujiyanzheng02">
      <p class="shoujiyanzheng02-p">
        手机号：<input name="" type="text" class="shoujiyanzheng02-input" />
        <div class="shoujiyanzheng02wrongtips">
          <img src="/assets/mobile/wrongtips.jpg" width="19" height="19" />手机号码错误
        </div>
      </p>
      <p class="shoujiyanzheng02-p">
        验证码：<input name="" type="text"  class="shoujiyanzheng02-input"/>
        <div class="shoujiyanzheng02wrongtips02">
          <img src="/assets/mobile/wrongtips.jpg" width="19" height="19" />手机号码错误
        </div>
      </p>
      <a href="#">
        <div class="yanzhengkey02"><img src="/assets/mobile/tips06.png" width="74" height="41" /></div>看不清楚，换一张
      </a>
      <div class="shoujiyanzheng-btn02">
        <input name="" type="image" src="/assets/mobile/tips07.png" class="queding02" />
        <input name="" type="image" src="/assets/mobile/tips08.png" class="quxiao02"/>
      </div>
    </div>
  </div>
  <div><img src="/assets/mobile/tips03.png" width="532" height="6" /></div>
</div>

<div class="tips02">
  <h2>发送优惠券到手机</h2>
  <a href="#" class="tips02-close"><img src="/assets/mobile/close-ico.png" width="26" height="26" /></a>
  <div class="tips02-center cgray">
    <h3>
      <a href="#" class="tips02-center-a">短信优惠券</a>
      <a href="#" class="tips02-center-a tips02-current">二维码扫描</a>
    </h3>
    <div class="shoujiyanzheng03">
      <img src="/assets/img/2wema02.png" width="236" height="239" />
    </div>
  </div>
  <div><img src="/assets/mobile/tips03.png" width="532" height="6" /></div>
</div>
