<h2>手机注册</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <p><%= f.label :name, "用户名" %>
      <br/>
      <%= f.text_field :name %></p>

    <div><%= f.label :password, "密码" %>
      <br/>
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation, "确认密码" %>
      <br/>
      <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :mobile, "手机号码" %>
      <br/>
      <%= f.text_field :mobile %>
      <%= link_to "免费获取验证码","#", :class => "btn" %>
    </div>
    <div>
      <br/>
      <%= f.text_field :mobile %>
      <%= link_to "进行手机验证","#", :class => "btn" %>
    </div>
    <div><%= f.submit "立即注册" %></div>
<% end %>

<%= render "devise/shared/links" %>
