
<% content_for :head do %>
  <%= stylesheet_link_tag "jquery.tagit" %>
<% end %>

<%= form_for [:admin,@shop],:html => {:class=>"form-horizontal uni"} do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :category_id , '所属分类：',:class=>"control-label" %>
    <%= f.select(:category_id, Category.all.collect {|c| [ c.name, c.id ] }, {include_blank: 'None'})%>
  </div>

  <div class="control-group">
    <%= f.label :title, '标题：', :class=>"control-label"  %>
    <div class="controls">
    <%= f.text_field :title %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :phone , '电话：', :class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :phone %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :address, '地址：', :class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :address %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_list, '标签：', :class=>"control-label" %><br />
    <%= f.hidden_field :tag_list,:value=>@shop.tag_list %>
    <div class="controls">
      <ul id="tags"></ul>
      <% Tag.all.each do |tag| %>
        <span name="sampletag" class="label">
          <%= tag.name %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <h4>上传图片：</h4>
    <%= f.fields_for :shopImages  do |image| %>
      <div class="controls">
      <%= image.file_field :image  %>
    </div>
  <% end %>
  </div>
  <div class="actions">
     <button type="submit" class="btn btn-samll btn-primary">保存</button>
     <a href="javascript:history.go(-1);" class="btn btn-small">返回</a>
  </div>
<% end %>

  <% content_for :foot do %>
    <%= javascript_include_tag "tag-it" %>
  <script type="text/javascript">
$(document).ready(function() {
  $('#tags').tagit({
    // availableTags: sampleTags,
    // This will make Tag-it submit a single form value, as a comma-delimited field.
    singleField: true,
    singleFieldNode: $('#shop_tag_list')
  });
  $("span[name='sampletag']").on('click',function(){
    // console.log($(this).text());
    $("#tags").tagit("createTag", $(this).text());
  });
});
  </script>
<% end %>

