<h1>Listing shops</h1>

<table class="table">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Category</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><img src="<%= shop.shopImages.first.url %>" alt="" style="width:100px;height:100px;"/></td>
    <td><%= shop.title %></td>
    <td><%= shop.category.name if shop.category %></td>
    <td><%= shop.phone %></td>
    <td><%= shop.address %></td>
    <td><%= raw shop.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
    <td><%= link_to 'Show', admin_shop_path(shop) %></td>
    <td><%= link_to 'Edit', edit_admin_shop_path(shop) %></td>
    <td><%= link_to 'Destroy', admin_shop_path(shop), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop',new_admin_shop_path %>
