<p id="notice"><%= notice %></p>
<%= @shop.id %>
<p>
  <b>Title:</b>
  <%= @shop.title %>
</p>

<p>
  <b>Phone:</b>
  <%= @shop.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>
<p>
  <b>Tags:</b>
  <%= @shop.tag_list %>
</p>
<p>
  <b>Images</b>
  <% @shop.shopImages.each do |image| %>
      <img src="<%= image.url %>" alt="" />
    <% end %>
</p>

<%= link_to 'Edit', edit_admin_shop_path(@shop) %> |
<%= link_to 'Back', admin_shops_path %>
