<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @shop.title %>
</p>

<p>
  <b>Phone:</b>
  <%= @shop.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
<b>Images</b><br>
  <% @shop.shopImages.each do |image| %>
      <img src="<%= image.url %>" alt="" />
    <% end %>
</p>
