
<p id="notice"><%= notice %></p>
<p>
<h3><%= @shop.title %></h3>
</p>

<div class="row">
  <div class="span3">
      <img src="<%= @shop.shopImages.first.url if @shop.shopImages.first %>" alt="" />
  </div>
  <div class="span9">
    <p>
    <b>Phone:</b>
    <%= @shop.phone %>
    </p>

    <p>
    <b>Address:</b>
    <%= @shop.address %>
    </p>
  </div>
  <% unless @rates.count == 0 %>
  <div class="rates" style="margin-top:20px;">
    <%= render 'rates/rate_list', :rates => @rates %>
  </div>
  <% end %>
</div>





