
<p id="notice"><%= notice %></p>
<p>
<h3><%= @shop.title %></h3>
</p>

<div class="row">
  <div class="span3">
      <img src="<%= @shop.shopImages.first.url if @shop.shopImages.first %>" alt="" />
  </div>
  <div class="span9">
    <p>
    <b>Phone:</b>
    <%= @shop.phone %>
    </p>

    <p>
    <b>Address:</b>
    <%= @shop.address %>
    </p>
  </div>
  <div class="span3">
    <% if can? :new, Rate %>
      <%= link_to '添加点评', new_shop_rate_path(@shop), class: "btn btn-small" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% unless @rates.count == 0 %>
    <div class="rates" style="margin-top:20px;">
      <%= render 'rates/rate_list', :rates => @rates %>
    </div>
    <%= paginate @rates %>
  <% end %>
</div>