<div class="content">

  <%= render :partial => "layouts/top_search" %>

  <a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="main02 mb143">
    <div class="preferential-leftnav">
      <a href="/mobile/shops/<%= @shop.id %>" class="preferential-leftnav05"></a>
      <a href="/mobile/shop_images?shop_id=<%= @shop.id%>" class="preferential-leftnav06 pre-current07"></a>
      <a href="/mobile/promos?shop_id=<%= @shop.id%>" class="preferential-leftnav07"></a>
    </div>
    <div class="pay-right _image_partial">
      <%= render 'show_images', shop_id: @shop.id, shop_images: @shop_images, is_previous_image: @is_previous_image, is_next_image: @is_next_image %>
    </div>
  </div>

  <%= render :partial => "layouts/bottom_buttons" %>

</div>

<% content_for :foot do %>
  <%= javascript_include_tag 'mobile/shop_images' %>
  <%= javascript_include_tag "plugins/blockUI/jquery.blockUI" %>
<% end %>
