
<div style="padding-top:50px;">
<%= form_for(@user) do |f| %>
  <%= hidden_field_tag :id, @user.id %>
  <%= hidden_field_tag :top %>
  <%= hidden_field_tag :left %>
  <%= hidden_field_tag :width %>
  <%= hidden_field_tag :height %>
  <%= hidden_field_tag :original_w %>
  <%= hidden_field_tag :original_h %>
  <div class="field">
    <%= f.label :image, '上传图片' %><br />
    <%= f.file_field :image %>
  </div>

  <img id="show_image" src="" alt=""/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>

<% content_for :foot do %>
  <%= javascript_include_tag 'plugins/jcrop/jquery.Jcrop.min' %>
  <%= javascript_include_tag 'minsheng/users' %>
<%  end %>
