<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <img src="<%= @shop_image.url %>" alt="" />
</p>

<p>
  <b>Shop:</b>
  <%= @shop_image.shop_id %>
</p>


<%= link_to 'Edit', edit_shop_image_path(@shop_image) %> |
<%= link_to 'Back', shop_images_path %>
