<%= hidden_field_tag :id, shop_recommendation.id %>

<div class="control-group">
  <%= f.label :flag_type, "类型：", class: "control-label" %>
  <div class="controls">
    <%= f.select :flag_type, ShopRecommendation::FLAG_TYPE.to_a, {include_blank: true}, style: "width: 220px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :shop_id, "商店：", class: "control-label" %>
  <div class="controls">
    <%= f.select :shop_id, Shop.select('id, title').map{|shop| [shop.title, shop.id]}, {include_blank: true}, style: "width: 220px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sort, "排序：", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :sort, style: "width: 300px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :start_time, "发布时间：", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :start_time, value: format_datetime(shop_recommendation.start_time), style: "width: 300px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :end_time, "结束时间：", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :end_time, value: format_datetime(shop_recommendation.end_time), style: "width: 300px;" %>
  </div>
</div>

<div class="text-center">
  <%= f.submit "保存", class: "_submit btn btn-primary btn-small" %>
  &nbsp;
  <a href="javascript:history.go(-1);" class="btn btn-small">返回</a>
</div>

<% content_for :foot do %>
  <%= javascript_include_tag "lib/jquery-ui-sliderAccess" %>
  <%= javascript_include_tag "lib/jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "lib/jquery-ui-timepicker-zh-CN" %>
<% end %>
