<h1>Listing shop_images</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Shop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_images.each do |shop_image| %>
  <tr>
    <td><%= shop_image.url %></td>
    <td><%= shop_image.shop_id %></td>
    <td><%= link_to 'Show', shop_image %></td>
    <td><%= link_to 'Edit', edit_shop_image_path(shop_image) %></td>
    <td><%= link_to 'Destroy', shop_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop image', new_shop_image_path %>
