<div class="row-fluid">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left">标签管理</div>
      <div class="pull-right"><%= link_to '新建标签', new_admin_tag_path, class: 'btn btn-primary btn-small' %></div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">

      <div id='tag_container'>
        <table class="table table-bordered table-striped table-hover">
      	  <thead>
      	    <tr>
      	      <th>标签名称</th>
      	      <th>分类名称</th>
      	      <th>操作</th>
      	    </tr>
      	  </thead>
      	  <% @tags.each do |tag| %>
            <% tag.categories.each_with_index do |category, idx| %>
        	    <% category_id = category.id %>
              <tr>
                <% if idx.zero? %>
          	      <td rowspan="<%= tag.category_tags.count %>" style='vertical-align: middle;'>
          	        <%= tag.name %>
          	      </td>
                <% end %>
        	      <td><%= category.name %></td>
        	      <td>
                    <%= link_to '编辑', edit_admin_tag_path(tag, category_id: category_id) %>
                    &nbsp;
                    <%= link_to '删除', admin_tag_path(tag, category_id: category_id), method: :delete, data: {confirm: '确定删除？'} %>
        	      </td>
        	    </tr>
            <% end %>
        	<% end %>
      	</table>
      </div>

      <div class="widget-foot">
        <%= paginate @tags %>
      </div>

    </div>
  </div>
</div>
