  <%= form_tag(mobile_reset_password_path, :method => 'post') do %>
    <div style="margin-top:20px"></div>
    <div><%= label_tag :mobile, "输入手机" %>
      <%= phone_field_tag :mobile %>
        <input type="button" id="sendPasswordTokenBtn" class="btn" value="发送验证码" url="<%=mobile_send_password_token_path %>">
    </div>
    <div>
      <%= label_tag :token, "输入验证码" %>
      <%= text_field_tag :token %>
    </div>
    <div><%= label_tag :password, "密码" %>
      <%= password_field_tag :password %>
    </div>
    <div><%= label_tag :password_confirmation, "确认密码" %>
      <%= password_field_tag :password_confirmation %>
    </div>
    <%= submit_tag "确认", :class => "btn" %>
  <% end %>

<%= content_for :foot do %>
  <%= javascript_include_tag "minsheng/mobile" %>
<% end %>