<h2>手机注册</h2>

<%= form_for(@user,:url => mobile_create_path ) do |f| %>

    <p><%= f.label :name, "用户名" %>
      <br/>
      <%= f.text_field :name %></p>

    <div><%= f.label :password, "密码" %>
      <br/>
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation, "确认密码" %>
      <br/>
      <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :mobile, "手机号码" %>
      <br/>
      <%= f.number_field :mobile %>
        <input type="button" id="sendCaptchaCodeBtn" class="btn" value="免费获取验证码" url="<%=mobile_send_sms_path %>">
    </div>
    <div>
      <br/>
       <input type="text" name="captcha_code" id="captcha_code" >
       <input type="button" id="verifyBtn" class="btn" value="验证手机" url="<%= mobile_verify_mobile_path %>">
    </div>
    <div><%= f.submit "立即注册" %></div>
<% end %>

<%= link_to "忘记密码", mobile_reset_password_page_path %>

<%= content_for :foot do %>
  <%= javascript_include_tag "minsheng/mobile" %>
<% end %>
