<div id="shop_rates_container">
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>用户</th>
      <th>评分</th>
      <th>评论</th>
      <th>操作</th>
    </tr>

  <% rates.each do |rate| %>
    <tr>
      <td><%= rate.user.name %></td>
      <td><div class="star" data-average="<%= rate.rank ||= 0 %>"></div></td>
      <td><%= rate.comment %></td>
      <td><%= link_to '显示', admin_shop_rate_path(@shop,rate) %></td>
    </tr>
  <% end %>
  </table>
</div>

<%= paginate @rates %>
