<% content_for :head do %>
  <%= stylesheet_link_tag "jRating.jquery" %>
<% end %>

<div id="shop_rates_container">
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>用户</th>
      <th>评分</th>
      <th>评论</th>
    </tr>

  <% rates.each do |rate| %>
    <tr>
      <td><%= rate.user.name %></td>
      <td><div class="star" data-average="<%= rate.rank %>"></div></td>
      <td><%= rate.comment %></td>
    </tr>
  <% end %>
  </table>
</div>


<% content_for :foot do %>
  <%= javascript_include_tag "jRating.jquery" %>
  <%= javascript_include_tag "admin/rates.js" %>
<% end %>