<div class="content">
  <div class="topbar">
    <form action="" method="get">
      <div class="logo"><img src="/assets/images/logo.png" width="379" height="96" /></div>
      <div class="seach">
        <input name="" type="text"  class="search-input"/>
        <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/>
      </div>
    </form>
  </div>
  <a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main03 mb143">
    <ul class="regsiter-tab center">
      <li style="border:none">
        <a href="/mobile/users/phone_sign_up" class="regsiter-title "></a>
      </li>
      <li>
        <a href="/mobile/users/email_sign_up" class="regsiter-title02 current02"></a>
      </li>
    </ul>

<div class="regsiter" id="regsiterForEmail">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <input type="hidden" name="touch_redirect_to" value="/mobile/home" />
        <div class="username">
          <div class="usernametitle">
            <span class="cred pt50">*</span>用户名：
          </div>
          <div class="selectbar670 _parent_tip">
            <div class="selectbg-left"></div>
            <div class="selectbg-center w590">
              <%= f.text_field :name, :class=>"client-input" %>
            </div>
            <div class="selectbg-right02"></div>
          </div>
          <div class="clear"></div>
          <div class="wrongtips _tip_field">
          </div>
        </div>
        <div class="password">
          <div class="passwordtitle">
            <span class="cred pt50">*</span>密码：
          </div>
          <div class="selectbar670 _parent_tip">
            <div class="selectbg-left"></div>
            <div class="selectbg-center w590">
              <%= f.password_field :password,:class=>"client-input" %>
            </div>
            <div class="selectbg-right02"></div>
          </div>
          <div class="clear"></div>
          <div class="wrongtips _tip_field">
          </div>
        </div>
        <div class="password02">
          <div class="passwordtitle02">
            <span class="cred pt50">*</span>确认密码：
          </div>
          <div class="selectbar670 _parent_tip">
            <div class="selectbg-left"></div>
            <div class="selectbg-center w590">
              <%= f.password_field :password_confirmation,:class=>"client-input" %>
            </div>
            <div class="selectbg-right02"></div>
          </div>
          <div class="clear"></div>
          <div class="wrongtips _tip_field">
          </div>
        </div>
        <div class="password02">
          <div class="passwordtitle02">
            <span class="cred pt50">*</span>电子邮箱：
          </div>
          <div class="selectbar670 _parent_tip">
            <div class="selectbg-left"></div>
            <div class="selectbg-center w590">
              <%= f.email_field :email,:class=>"client-input" %>
            </div>
            <div class="selectbg-right02"></div>
          </div>
          <div class="clear"></div>
          <div class="wrongtips _tip_field">
          </div>
        </div>

        <div class="treaty">
          <p>
            <label>
              <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" />
              我已看过并同意《中国民生银行电子商务金融服务平台会员服务协议》
            </label>
          </p>
        </div>
        <input  name=""  type="image" src="/assets/images/yanzheng02.png" class="regsiter-btn" width="447" height="51"/>
      <% end %>
    </div>

</div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>

<%= javascript_include_tag "plugins/validate/jquery.validate" %>
<%= javascript_include_tag "plugins/validate/jquery-validate-setting" %>

<script>
  $('#new_user').validate({
    onfocusout: function(element){
      this.element(element);
    },
    rules: {
      'user[name]':{
        required: true,
        minlength: 6,
        maxlength: 12,
        remote: '/mobile/users/check_username'
      },
      'user[password]':{
        required: true,
        minlength: 6,
        maxlength: 12,
      },
      'user[password_confirmation]':{
        equalTo: '#user_password'
      },
      'user[email]':{
        required: true,
        email: true,
        remote: '/mobile/users/check_email'
      },
      'CheckboxGroup1' :{ required:true }
    },
    messages: {
      'user[name]': {remote: '用户名已被使用，请重新填写'},
      'user[password_confirmation]': {equalTo: '密码不一致，请重新填写'},
      'user[email]': {
        email: '请输入正确格式的电子邮件',
        remote: '邮箱已被使用，请重新填写'
      },
      'CheckboxGroup1' :{ required: "请勾选条款" }
    }
  });
</script>
