<%= form_for [:admin,@category], :html => {:class=>"form-horizontal uni"} do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :parent, '所属分类：', class: 'control-label' %>
    <div class="controls">
      <% if @parent_id %>
        <%= hidden_field_tag :'[category][parent_id]', @parent_id %>
        <%= f.select(:parent_id, options_for_select(Category.all.collect {|c| [ c.name, c.id ] }, @parent_id),{}, disabled: :disabled) %>
      <% else %>
        <%= f.select(:parent_id, Category.all.collect {|c| [ c.name, c.id ] }, {include_blank: 'Root'}) %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, '名称：', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit '保存', class: 'btn btn-primary btn-small' %>
  </div>
<% end %>
