<p id="notice"><%= notice %></p>

<p>
  <b>名称:</b>
  <%= @product.name %>
</p>

<p>
  <b>图片:</b>
  <img src="<%= @product.productImages.first.image %>" alt="" />
   <img src="<%= @product.productImages.first.image_url(:small)%>" alt="" />
</p>


<%= link_to '编辑', edit_admin_product_path(@product) %> |
<%= link_to '返回', admin_products_path %>
