<%= hidden_field_tag :id, notice.id %>

<div class="control-group">
  <%= f.label :title, "标题：", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :title, style: "width: 300px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :flag_type, "类型：", class: "control-label" %>
  <div class="controls">
    <%= f.select :flag_type, Notice::FLAG_TYPE.to_a, {include_blank: true}, style: "width: 220px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :start_time, "发布时间：", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :start_time, value: format_datetime(notice.start_time), style: "width: 300px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :end_time, "结束时间：", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :end_time, value: format_datetime(notice.end_time), style: "width: 300px;" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :content, "内容：", class: "control-label" %>
  <div class="controls">
    <%= f.text_area :content %>
  </div>
</div>

<div class="text-center">
  <%= f.submit "保存", class: "_submit btn btn-primary btn-small" %>
  &nbsp;
  <a href="javascript:history.go(-1);" class="btn btn-small">返回</a>
</div>
