<div class="row-fluid">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left">公告管理</div>
      <div class="pull-right"><%= link_to '新建公告', new_admin_notice_path, class: 'btn btn-primary btn-small' %></div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">

      <div id='notices_container'>
        <table class="table table-bordered table-striped table-hover">
      	  <thead>
      	    <tr>
      	      <th>序号</th>
      	      <th>标题</th>
      	      <th>类型</th>
              <th>发布时间</th>
              <th>结束时间</th>
      	      <th>操作</th>
      	    </tr>
      	  </thead>
      	  <% @notices.each_with_index do |notice, idx| %>
      	    <tr>
      	      <td><%= idx+1 %></td>
      	      <td class="left">
      	        <%= link_to notice.title, admin_notice_path(notice), class: 'bluelink' %>
      	      </td>
      	      <td><%= notice.flag_text %></td>
              <td><%= format_datetime(notice.start_time) %></td>
              <td><%= format_datetime(notice.end_time) %></td>
      	      <td>
                  <%= link_to '编辑', edit_admin_notice_path(notice), class: 'bluelink' %>
                  &nbsp;
                  <%= link_to '删除', admin_notice_path(notice), method: :delete, data: {confirm: '确定删除？'} ,class: 'bluelink' %>
      	      </td>
      	    </tr>
      	  <% end %>
      	</table>
      </div>

      <div class="widget-foot">
        <%= paginate @notices %>
      </div>

    </div>
  </div>
</div>
