<h1 class="page-name">查看公告</h1>
<%= link_to '返回', admin_notices_path, class: 'btn btn-small', style: 'float:right; margin: 3px 5px;' %>
<%= link_to '编辑', edit_admin_notice_path(@notice), class: 'btn btn-primary btn-small', style: 'float:right; margin: 3px 5px;' %>

<div class="news-detail">
  <h1 class='wz-title'>
    <%= @notice.title %>
    <div class="gray">
      <ul class="wz-jq-info">
        <li>类型：<%= @notice.tag_text %></li>
        <li>发布时间：<%= @notice.format_date %></li>
      </ul>
    </div>
  </h1>
  <%= raw @notice.content  %>
</div>