<div class="content">

  <a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main">
    <a href="/mobile/shops/<%= @shops.first.id %>" class="ad06"></a>
    <a href="/mobile/shops/<%= @shops.second.id %>" class="ad07"></a>
    <a href="/mobile/shops/<%= @shops.third.id %>" class="ad08"></a>
    <a href="/mobile/shops/<%= @shops.fourth.id %>" class="ad09"></a>
    <a href="/mobile/home/search" class="ad10"></a>
  </div>

  <%= render :partial => "layouts/bottom_buttons" %>

</div>
