<div class="content">

  <%= render :partial => "layouts/top_search" %>

  <a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>

  <div class="main02 mb143">
    <div class="preferential-leftnav">
      <a href="/mobile/shops/<%= @shop.id %>" class="preferential-leftnav05 pre-current08"></a>
      <a href="/mobile/shop_images?shop_id=<%= @shop.id%>" class="preferential-leftnav06"></a>
      <a href="/mobile/promos?shop_id=<%= @shop.id%>" class="preferential-leftnav07"></a>
    </div>
    <div class="pay-right">
      <div href="#" class="preferential-xiangqing ">商户详情</div>
      <div class="preferential-xiangqingmain">
        <div class="preferential-left"><a href="#"><img src="<%= @shop.shopImages.first.image.url %>" width="340" height="240"/></a></div>
        <div class="preferential-center">
          <h2><%= @shop.title %><img src="/assets/mobile/msthico.png" width="76" height="23"/></h2>

          <p>地 址： <%= @shop.address %><br/>
            电 话： <%= @shop.phone %><br/>
            标 签： <%= @shop.tags.map(&:name).join(" ") %><br/>

          <div class="youhuiquan">手机扫描优惠劵：持民生卡刷卡消费可享受9折优惠
            <div class="code"></div>
          </div>
          <div class="preferential-btn">
            <a href="javascript:" id="send_shop_message"><img src="/assets/mobile/preferential06.png" width="304" height="51"/></a>
            <!-- <a href="#"><img src="/assets/mobile/preferential07.png" width="157" height="51"/></a> -->
          </div>
          </p>
        </div>
        <div class="preferential-right"><img src="/img/map.png" width="273" height="367"/></div>


      </div>
    </div>
  </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>

<div id="shop_message_dialog" class="tips01" style="display: none;">
  <h2>发送商家信息到手机</h2>
  <a href="#" class="tips01-close"><img src="/assets/mobile/close-ico.png" width="26" height="26" /></a>
  <div class="tips01-center cgray">
    <h3 class="pl20"><%= @shop.title %><img src="/assets/mobile/msthico.png" width="76" height="23" /></h3>
    <p class="pl20">地址：<%= @shop.address %></p>
    <p class="pl20">电话：<%= @shop.phone %></p>
    <p class="corange pl20">推荐：夫妻肺片 鱼香肉丝  辣子鸡  川北凉粉</p>
    <%= form_tag '', remote: true, id: 'send_message_form' do %>
      <div class="shoujiyanzheng">
        <p class="shoujiyanzheng-p _parent_tip">
          手机号：<%= text_field_tag :mobile, nil, class: "shoujiyanzheng02-input"%>
          <div class="shoujiyanzheng02wrongtips _tip_field"></div>
        </p>
        <p class="shoujiyanzheng-p _parent_tip">
          验证码：<%= text_field_tag :code, nil, class: "shoujiyanzheng02-input" %>
          <div class="shoujiyanzheng02wrongtips02 _tip_field"></div>
        </p>
        <a href="javascript:" id="verify_area" data-url="<%= mobile_users_generate_code_path %>" data-code="<%= @verify_code %>">
          <div class="yanzhengkey _verify_code"><%= @verify_code %></div>看不清楚，换一张
        </a>
        <div class="shoujiyanzheng-btn">
          <input name="" type="image" src="/assets/mobile/tips07.png" class="queding _send_btn" data-url="<%= send_shop_message_mobile_shops_path(shop_id: @shop.id) %>"/>
          <input name="" type="image" src="/assets/mobile/tips08.png" class="quxiao"/>
        </div>
      </div>
    <% end %>
  </div>
  <div><img src="/assets/mobile/tips03.png" width="532" height="6" /></div>
</div>

<% content_for :foot do %>
  <%= javascript_include_tag "plugins/blockUI/jquery.blockUI" %>
  <%= javascript_include_tag "plugins/blockUI/jquery-blockUI-setting" %>
  <%= javascript_include_tag "plugins/validate/jquery.validate" %>
  <%= javascript_include_tag "plugins/validate/jquery-validate-setting" %>
<% end %>

<script>
  $(document).ready(function(){
    $('#send_shop_message').on('click', function(){
      $.blockUI({
        message: $('#shop_message_dialog')
      });
    });

    $('#send_message_form').validate({
      onfocusout: function(element) {
        this.element(element);
      },
      rules: {
        'mobile':{
          required: true,
          mobile_phone: true
        },
        'code':{
          required: true,
          regex: /^[a-z0-9_-]{4}$/,
        }
      },
      messages: {
        'mobile':{
          mobile_phone: '手机号码错误'
        }
      }
    });

    $('#send_message_form').on('click', '._send_btn', function(){
      mobile = $('#mobile').val();
      url = $(this).data('url');
      if($('#verify_area').data('code') == $('#code').val()){
        $.get(url, {mobile: mobile}, function(success){
          if(success){

          }else{

          }
        });
      }
      return false;
    })

    $('#verify_area').css('width', '300px');
    $('#verify_area').on('click', function(e){
      e.preventDefault();
      url = $(this).data('url');
      $.get(url, {}, function(result){
        $('#verify_area ._verify_code').text(result.code);
        $('#verify_area').data('code', result.code);
      })
    });

    $('#code').on('blur', function(){
      $error_field = $(this).closest('._parent_tip').nextAll('._tip_field:first')
      if($error_field.children().length == 0)
        if($('#verify_area').data('code') != $(this).val()){
          errorMessage = $("<label class=\"message\">验证码不正确</label>").attr("for", $(this).attr("id"));
          errorImage = ('<img src="/assets/images/wrongtips.jpg" width="19" height="19" />');
          $error_field.append(errorImage).append(errorMessage);
        }
    });
  });
</script>
