<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>民生家园网</title>
  <link href="/assets/mobile/master.css" rel="stylesheet" type="text/css" />
  <link href="/assets/mobile/reset.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "lib/rails.validations" %>
  <%= javascript_include_tag "lib/client_side_validations" %>
  <%= yield(:head) %>
</head>

<body style="background:url(/assets/mobile/bg.jpg) 0 0 repeat-y; position:relative;">
  <%= link_to "注册", mobile_users_sign_up_path %>
  <%= link_to "登录", mobile_users_sign_in_path %>
  <%= link_to "找回密码", mobile_retrieve_path %>
  <%= yield %>
</body>
  <%= yield :foot %>
</html>
