<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Minsheng" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Minsheng" %>">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= yield(:head) %>
</head>

<%= content_tag :body, class: [controller_name, action_name].join('_') do %>
  <div class="navbar navbar-fixed-top"> <nav class="navbar-inner">
    <div class="container">
      <%= link_to "Minsheng", root_path, :class => 'brand' %>
      <ul class="nav">
        <li>
        <a href="/">首页</a>
        </li>
        <li>
        <%= link_to '特惠店铺', shops_path %>
        </li>
        <li>
        <a href="#">生活缴费</a>
        </li>
        <li>
        <a href="#">业务预约</a>
        </li>
        <% if user_signed_in? %>
          <li>
        <a href="/ucenter">我的家园</a>
        </li>
        <% if current_user.has_role? :admin %>
          <li>
        <%= link_to '后台管理', '/admin' %>
        </li>
      <% end %>
        <li>
        <%= link_to ' 退出', destroy_user_session_path, :method => 'delete' %>
        </li>
      <% else %>
          <li>
        <%= link_to '登录', new_user_session_path %>
        <!-- <li><a href="<%= DOORKEEPER_APP_URL%>/users/sign_up">Sign up</a></li> -->
        <!-- <a href="/users/auth/doorkeeper">Sign in with Doorkeeper</a> -->
        </li>
        <li>
        <%= link_to '注册', new_user_registration_path %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
</div>
<div id="main" role="main" style="margin-top: 20px">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
        <% end %>
          <div class="row">
            <div class="span3">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Sidebar</li>
                  <li class="active"><a href="ucenter/favorite">我的收藏</a></li>
                  <li><a href="/ucenter/view_history"> 最近浏览</a></li>
                  <li><a href="/ucenter/change_password">修改密码</a></li>
                  <li><a href="/ucenter/comment">我的点评</a></li>
                  <li><a href="/ucenter/sugguestion">投诉建议</a></li>
                  <li>
                  <%= link_to ' 账户设置', edit_user_registration_path %>
                  </li>
                  <li>
                  <%= link_to '编辑图片', upload_image_user_path(current_user) %>
                  </li>
                  <li>
                  <%= link_to raw("信息提醒 <strong style='color:red'>#{current_user.not_read_notifications.size}</strong>"), notifications_path %>
                  </li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->


            <div class="span9">

              <%= yield %>
            </div>
          </div>

        </div>
      </div>
      <footer>
        <%= yield(:foot) %>
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
<% end %>
</html>

